---
import Container from "@components/container.astro";

const menuitems = [
   {
    title: "About",
    path: "/about",
  },
  {
    title: "Blog",
    path: "/blog",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <nav class="flex flex-start w-full">
      <div class="flex gap-10 flex-row w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><span class="font-bold text-slate-800">De</span><span
            class="text-slate-500">mo</span
          >
        </a>
        <div class="w-full lg:w-auto mt-2 lg:flex lg:mt-0">
          <ul class="flex flex-row gap-5 lg:flex-row lg:gap-3">
            {
              menuitems.map((item, index) => (
                <li>
                  <a
                    href={item.path}
                    class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                    <span> {item.title}</span>

                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>

    </nav>
  </header>
</Container>
